<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tasks/add/" method="post">
        {% csrf_token %}
        <label>Title:</label><br/>
        <input type="text" name="title"/><br/>
        <label>Status:</label><br/>
        <select name="status" >
            {%for i,j in status%}
            <option value="{{i}}">{{j}}</option>
            {%endfor%}
        </select>
        <br/>
        <label>Description:</label><br/>
        <input type="text" name="description"/><br/>
        <label>Time:</label><br/>
        <input type="text" name="time"/><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>