{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    {% block menu %}
   <li><a href="{% url "add_task" %}">Add Article</a></li>    
   {% endblock %}
   {% block content %}
    <h1>Tasks</h1>
        {% if not tasks %}
            <h2>No tasks</h2>
        {% endif %}

        {% for task in tasks %}
        <p>{{ task.status }}: <a href="{% url "task_view" task.pk %}">{{ task.title }}</a></p>
        <p><a href="{% url "task_update" task.pk %}">Edit</a></p>
    {% endfor %}
{% endblock %}
</div>
</body>
</html>