{% extends "base.html" %}
{% block title %}Update your tasks{% endblock %}
{% block content %}
    <h1>Update Task</h1>
    <form method="POST" action="{% url "task_update" task.pk %}">
        {% csrf_token %}
        <p><label>Title</label> <input type="text" name="title" value="{{ task.title }}"></p>
        <label>Status:</label><br/>
        <select name="status" >
            {%for i,j in status%}
            <option value="{{i}}">{{j}}</option>
            {%endfor%}
        </select>
        <p><label>Time</label> <input name="time" value="{{ task.time|date:"Y-m-d" }}"></p>
        <p><label>Description</label> <input type="text" name="description" value="{{ task.description }}"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

